
:root{
    --gradient-shadow: linear-gradient(
        70deg,
        #fb0094,
        #0000ff,
        #00ff00,
        #FFF000,
        #fb0094,
        #0000ff,
        #ff0000
    );
}

/* bloque negro */
 .animacion{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(5, 221, 102);
    position: relative;
    font-size: 20px;
    font-weight: bold;
    width: 250px;
    height: 100px;
    background: linear-gradient(0deg,#000,#0a0909);
 }
body{
    margin: 0;
    padding: 0;
    background-color: rgb(10, 8, 8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* NEON */
.animacion:before,
.animacion:after{
    content: '';
    position: absolute;
    top:-10px;
    left:-10px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: animate 20s linear infinite;
}
.animacion:after{
    filter: blur(40px);
}
@keyframes animate {
    0%  {background-position:0 0;}
    50% {background-position:300% 0}
    100% {background-position:0 0;}
    }
